@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm())
{
    <div class="container">
        <section class="row">
            <h1>Browser Timezone Detector</h1>

            <div class="well row">
                <div class="row">
                    <div class="span4">
                        <div class="control-group">
                            <div class="controls">
                                <label class="control-label" for="message">You local time is @ViewBag.ClientTime</label>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <input type="submit" class="btn btn-primary btn-large" value="Refresh" />
                </div>
            </div>

            <footer class="row">
                <h2>Links</h2>

                <ul>
                    <li><a href="https://github.com/zsu/TimezoneDetector">GitHub</a></li>
                </ul>
            </footer>
        </section>
    </div>
}